Q1.Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [6]:
# Answer -----
mixed_data = {
    "string": "Hello, world!",
    "list": [1, 2, 3, 4],
    "float": 3.14,
    "tuple": (5, 6, 7)
}
mixed_data

{'string': 'Hello, world!',
 'list': [1, 2, 3, 4],
 'float': 3.14,
 'tuple': (5, 6, 7)}

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [9]:
#Answrer ----------

# (i)
var1 = ' '
print(type(var1)) 

# (ii)
var2 = '[ DS , ML , Python]'
print(type(var2))

# (iii)
var3 = ['DS', 'ML', 'Python']
print(type(var3))

# (iv)
var4 = 1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Answer----------
i) / – Division Operator
Use: Divides the left-hand operand by the right-hand operand and returns a float result.
(ii) % – Modulus Operator
Use: Returns the remainder of the division.
(iii) // – Floor Division Operator
Use: Divides and returns the largest integer less than or equal to the result (i.e., the floor).
(iv) ** – Exponentiation Operator
Use: Raises the left-hand operand to the power of the right-hand operand.

In [15]:
# EXAMPLES----
# i) / –
result = 10 / 3
print(result)
# (ii) % – 
result = 10 % 3
print(result)
# (iii) // –
result = 10 // 3
print(result) 
result = 2 ** 3
print(result)

3.3333333333333335
1
3
8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [17]:
# Answer----------
my_list = [42, 'Hello', 3.14, True, None, [1, 2, 3], {'key': 'value'}, (4, 5), {9, 10}, b'bytes']

for element in my_list:
    print(f"Element: {element}, Type: {type(element)}")

Element: 42, Type: <class 'int'>
Element: Hello, Type: <class 'str'>
Element: 3.14, Type: <class 'float'>
Element: True, Type: <class 'bool'>
Element: None, Type: <class 'NoneType'>
Element: [1, 2, 3], Type: <class 'list'>
Element: {'key': 'value'}, Type: <class 'dict'>
Element: (4, 5), Type: <class 'tuple'>
Element: {9, 10}, Type: <class 'set'>
Element: b'bytes', Type: <class 'bytes'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [26]:
A = 72
B = 3
# Counter to track how many times A is divisible by B
count = 0
temp = A
# While B divides temp evenly
while temp % B == 0:
    temp = temp // B
    count += 1
if count > 0:
    print(f"{A} is divisible by {B}, {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

72 is divisible by 3, 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [29]:
numbers = [5, 9, 12, 7, 15, 20, 3, 18, 22, 30, 11, 14, 6, 33, 25, 27, 8, 13, 36, 10, 21, 24, 2, 17, 0]

for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is NOT divisible by 3")

5 is NOT divisible by 3
9 is divisible by 3
12 is divisible by 3
7 is NOT divisible by 3
15 is divisible by 3
20 is NOT divisible by 3
3 is divisible by 3
18 is divisible by 3
22 is NOT divisible by 3
30 is divisible by 3
11 is NOT divisible by 3
14 is NOT divisible by 3
6 is divisible by 3
33 is divisible by 3
25 is NOT divisible by 3
27 is divisible by 3
8 is NOT divisible by 3
13 is NOT divisible by 3
36 is divisible by 3
10 is NOT divisible by 3
21 is divisible by 3
24 is divisible by 3
2 is NOT divisible by 3
17 is NOT divisible by 3
0 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answers-----
Mutable Data Types
These data types can be changed (modified) after creation.

Examples: list, dict, set, bytearray

Immutable Data Types
Definition: These data types cannot be changed after creation. Any change results in a new object.

Examples: int, float, str, tuple, frozenset

In [32]:
# Mutable Data Types
my_list = [1, 2, 3]
print("Before:", my_list)

my_list[0] = 100  
print("After:", my_list)

# Immutable Data Types
my_str = "Hello"
print("Before:", my_str)

my_str = "J" + my_str[1:]
print("After:", my_str)

Before: [1, 2, 3]
After: [100, 2, 3]
Before: Hello
After: Jello